
<div id="login">
  <form action="/login" method="POST">
    <p id="note"> Note here </p>
    <p id="error"> Error here </p>
    <p>
      <input id="username-or-email" name="username-or-email"
      placeholder="Username or email" type="text" />
    </p>
    <p>
      <input id="password" name="password" placeholder="Password"
      type="password" />
    </p>
    <p>
      <a href="/password-resets">forgot password?</a>
    </p>
    <p>
      <input type="submit" value="Log in">
    </p>
  </form>
  <hr>
  <p>
    <a class="button signup" href="/signup">Sign up...</a>
  </p>
</div>
