<form action="/task" method="post" id="task_form">
    <table>
        
        <tr class="task_row">
            <tr>
              <th>Task</th>
              <th>Date</th>
              <th>Delete</th>
            </tr>
            <tr id=\"tasks\">\n              <td class=\"task\">altro</td>\n              <td class=\"date\">today</td>\n            </tr><tr id=\"tasks\">\n              <td class=\"task\">ciao</td>\n              <td class=\"date\">tomorrow</td>\n            </tr>
    </table>
</form>
