<div id="task">

<form class="form-new-task" method="post" action="/task/add">
  <input id="get-task" name="new-task" required="required" type="text">
  <input id="getdate" name="date" require="require" type="text"/>
  <input type="submit" value="Add task">
</form>

<table>
  <tr id="task_row">
    <th>Task</th>
    <th>Date</th>
    <th>Action</th>
  </tr>

  <tr id="tasks-table">
    <td class="task">Buy Milk</td>
    <td class="date">Tomorrow</td>
    <td>
      <form method="post" action="/task/remove">
        <button class="delete" type="submit" value="id" name="task-id">
      </form>
    </td>
  </tr>

</table>
</div>

